<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ item.id }}</title>
</head>
<body>
    <p>{{ item }}</p>
    <div>
        <span>
            <a href="{% url 'inventory:update' item.id %}">Update</a>
        </span>
        <span>
            <a href="{% url 'inventory:delete' item.id %}">Delete</a>
        </span>
    </div>
</body>
</html>

