<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Item</title>
</head>
<body>
    <h2>Update item</h2>
    <form method="POST">
        {% csrf_token %}

        <ul>
            {{ form.as_ul }}
        </ul>
        <div id="form-actions">
            <button type="submit">Update Item</button>
        </div>
    </form>
</body>
</html>